swagger: "2.0"
info:
  title: OpenCars API
  description: API для отпримання публічної інформації про транспортні засоби України
  version: 0.1.10
host: api.opencars.pp.ua
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /vehicle/operations:
    get:
      tags:
        - Публічні дані
      summary: Пошук оперіцій за реєстраційним номером
      description: Отримати перелік оперіцій за реєстраційним номером
      parameters:
        - name: number
          in: query
          required: true
          type: string
          description: Реєстраційний номер
        - name: limit
          in: query
          required: false
          minimum: 1
          type: integer
          description: Максимальна кількість операцій
      produces:
        - application/json
      responses:
        200:
          description: Список оперіції з номерним знаком
          schema:
            type: array
            items:
              $ref: '#/definitions/Operation'
        405:
          description: Помилковий метод
          schema:
            $ref: '#/definitions/Error'
        400:
          description: Помилковий запит
          schema:
            $ref: '#/definitions/Error'
  /vehicle/registrations:
    get:
      tags:
        - Публічні дані
      summary: Пошук інформації за номером свідоцтва
      description: Отримати інформацію про реєстрацію авто за номером свідоцтва
      parameters:
        - name: code
          in: query
          required: true
          type: string
          description: Номер свідоцтва про реєстрацію авто
      produces:
        - application/json
      responses:
        200:
          description: Список реєстрацій авто за номером свідоцтва
          schema:
            type: array
            items:
              $ref: '#/definitions/Registration'
        400:
          description: Помилковий запит
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Не знайдено
          schema:
            $ref: '#/definitions/Error'
        405:
          description: Помилковий метод
          schema:
            $ref: '#/definitions/Error'
        503:
          description: Ресурс з даними про свідоцтва недоступний
          schema:
            $ref: '#/definitions/Error'
definitions:
  Error:
    type: object
    description: Повідомлення про помилку
    properties:
      error:
        type: string
        description: Опис помилки
        example: "invalid code"
  Operation:
    type: object
    description: Детальна інформація про операцію з транспортним засобом
    properties:
      address:
        type: string
        description: Адресса у форматі КОАТУУ
        example: "8036600000"
      body:
        type: string
        description: Тип кузова
        example: УНІВЕРСАЛ-B
      brand:
        type: string
        description: Марка
        example: TESLA
      capacity:
        type: number
        format: int32
        description: Об'єм двигуна
        example: 0
      color:
        type: string
        description: Колір транспортного засобу
        example: ЧОРНИЙ
      date:
        type: string
        description: Дата проведення операції
        example: "05.06.2019"
      description:
        type: string
        description: Тип операції
        example: ПЕРЕРЕЄСТРАЦIЯ У ЗВ`ЯЗКУ ЗI ЗМIНОЮ АНКЕТНИХ ДАНИХ ВЛАСНИКА
      fuel:
        type: string
        description: Тип палива
        example: ЕЛЕКТРО
      kind:
        type: string
        description: Тип авто
        example: ЛЕГКОВИЙ
      model:
        type: string
        description: Модель
        example: MODEL X
      number:
        type: string
        description: Реєстраційний номер
        example: АА9359РС
      office_id:
        type: number
        format: int64
        description: Код місця проведення операції
        example: 12290
      office_name:
        type: string
        description: Місце проведення операції
        example: ТСЦ 8041
      operation:
        type: string
        description: Універсальний код операції
        example: 340
      purpose:
        type: string
        description: Тип авто
        example: ЗАГАЛЬНИЙ
      weight:
        type: number
        format: int32
        description: Маса без навантаження
        example: 2485
      year:
        type: number
        format: int32
        description: Рік випуску
        example: 2016
      vin:
        type: string
        description: Номер шасі
        example: 5YJXCCE40GF010543
  Registration:
    type: object
    description: Детальна інформація про операцію з транспортним засобом
    properties:
      body:
        type: string
        description: Тип кузова
        example: УНІВЕРСАЛ-B
      brand:
        type: string
        description: Марка
        example: TESLA
      capacity:
        type: number
        format: int32
        description: Об'єм двигуна
        example: 0
      category:
        type: string
        description: Категорія
        example: B
      code:
        type: string
        description: Номер свідоцтва
        example: СХН484154
      color:
        type: string
        description: Колір
        example: ЧОРНИЙ
      date:
        type: string
        description: Дата реєстрації
        example: "2019-06-05"
      first_reg:
        type: string
        description: Дата першої реєстрації
        example: "2016-10-13"
      fuel:
        type: string
        description: Тип палива
        example: ЕЛЕКТРО
      kind:
        type: string
        description: Тип авто
        example: ЛЕГКОВИЙ
      model:
        type: string
        description: Модель
        example: MODEL X
      number:
        type: string
        description: Реєстраційний номер
        example: АА9359РС
      own_weight:
        type: number
        format: int32
        description: Маса без навантаження
        example: 2485
      total_weight:
        type: number
        format: int32
        description: Повна маса
        example: 3021
      vin:
        type: string
        description: Номер шасі
        example: 5YJXCCE40GF010543
      year:
        type: number
        format: int32
        description: Рік випуску
        example: 2016

tags:
- name: Публічні дані
  description: Загальна інформація що надається без авторизації.
